@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');
#root, body, html{
  margin: 0;
  height: 100%;
}
body{
  font-family: 'Manrope', sans-serif;  
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./assets/budgetImage.jpg');
  background-size: cover;
  overflow: hidden;
}